.header {
  display: inline-flex;
  width: 80vw;
  margin: 1rem 10vw;
}

.header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 5rem;
  margin-left: 5rem;
}

.header li {
  list-style-type: none;
}

.header a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.header a:focus,
.header a:hover {
  color: #f4ce14;
}
